{% extends "blog/base.html" %}
{% block content %}
    <h3>Change Your Password</h3>
    {% if form.errors %}
        <div class="container d-flex align-items-center justify-content-center">
            <div class="alert alert-warning alert-dismissible fade show w-50  d-block" role="alert">
                {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}

        <div class="form-floating mb-1">
            <input type="password" class="form-control mb-1" name="{{ form.old_password.name }}"
                   autocomplete="new-password" required id="{{ form.old_password.id_for_label }}" placeholder=""/>

            <label for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
        </div>
        <div class="form-floating mb-1">
            <input type="password" class="form-control mb-1" name="{{ form.new_password1.name }}"
                   autocomplete="new-password" required id="{{ form.new_password1.id_for_label }}" placeholder=""/>

            <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
        </div>
        <div class="form-floating mb-1">
            <input type="password" class="form-control mb-1" name="{{ form.new_password2.name }}"
                   autocomplete="new-password" required id="{{ form.new_password2.id_for_label }}" placeholder=""/>

            <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
        </div>

        <button type="submit" class="btn btn-primary btn-lg mt-1">Update Password</button>
    </form>
{% endblock content %}